h1 {
    font-family: "VT323", monospace;
}

.homeLogo {
    height: 70vh;
}

.centerImageBg {
    //background: linear-gradient(#181821,#0e0d12);
    background-image: url("zeroes_and_ones.jpeg");
}

@for $i from 1 through 20 {
    .spacing-y-#{$i} {
        height: $i * 5vh;
    }
  }

.new-content {
    position: absolute;
    background-color: black;
    height: 150vh;
    width: 100vw;
    top: 7%;
    z-index: 0;
}

.aboutSection {
    position: absolute;
    width: 100vw;
    text-align: center;
    top: 30%;
    z-index: 1;
}

.graph {
}

/*testing*/
.specialTitle {
    font-size: 10vw;
    font-family: "Bungee Shade", sans-serif;
    color: white;
}
  
  .letter {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  
  .letter::after {
    content: attr(full-expansion);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    font-size: 16px;
    color: #007bff;
  }
  
  .letter:hover::after {
    visibility: visible;
    opacity: 1;
  }
  

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');